*{
    margin: 0;
    padding: 0;
}

body{
    background: cadetblue;
}

.h1{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

form{
    background: white;
    width: 55vh;
    height: 500px;
    padding: 20px;
    position: absolute;
    left: 75vh;
    top: 20vh;
    border-radius: 10px;
    border: 1px solid black;
}

#logo{
    position: absolute;
    width: 220px;
    margin-left: 120px;
}

.campos{
    margin-top: 17vh;
    background: rgba(245, 245, 245, 0.411);
    padding: 20px;
    border-radius: 10px;
}

label{
    color: black;
    font-size: 20px;
    margin-left: 100px;
    text-shadow: 5px 5px 13px black;
}

#label-contraseña{
    margin-left: 120px;
}

input{
    transition: all .5s;
}

input:hover{
    border: 1px solid cadetblue;
}

#Aviso{
    text-align: center;
}

#start{
    margin-left: 150px;
    background: cadetblue;
    border: none;
    transition: background .3s;
}

#start:hover{
    background: rgb(62, 104, 105);
}

#start:active{
    box-shadow: 1px 1px 5px black;
}

