.sidebar{
    background: black;
    height: 150px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
}

.sidebar li {
    margin-left: 20px;
    margin-top: 100px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .5s;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar li:hover {
    background-color: white;
    color: black;
}

h1{
    text-align: center;
    font-size: 50px;
    position: absolute;
    left: 60vh;
    top: 40vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.salir{
    position: absolute;
    top: 18vh;
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    transition: all .3s;
}

#salir{
    padding-right: 5px;
}

.salir:hover{
    color: red;
}

.salir:active{
    color: rgb(153, 5, 5);
    transition: none;
}

.add-user{
    text-decoration: none;
}

/*Agregar empleados*/
form{
    background: white;
    width: 55vh;
    height: 500px;
    padding: 20px;
    position: absolute;
    left: 75vh;
    top: 20vh;
    border-radius: 10px;
    border: 1px solid black;
}

#logo{
    position: absolute;
    width: 220px;
    margin-left: 120px;
}

.campos{
    margin-top: 100px;
    background: rgba(245, 245, 245, 0.411);
    padding: 20px;
    border-radius: 10px;
}

label{
    color: black;
    font-size: 20px;
    margin-left: 100px;
    text-shadow: 5px 5px 13px black;
}

#label-contraseña{
    margin-left: 120px;
}

input{
    transition: all .5s;
}

input:hover{
    border: 1px solid cadetblue;
}

#Aviso{
    text-align: center;
}

#start{
    margin-left: 150px;
    background: cadetblue;
    border: none;
    transition: background .3s;
}

#start:hover{
    background: rgb(62, 104, 105);
}

#start:active{
    box-shadow: 1px 1px 5px black;
}